.swiper {
  // width: 600px;
  height: 300px;

  .swiper-pagination {
    display: block;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    width: 40px;
    height: 40px;
    &:hover {
      &::after {
        transform: translate(-50%, -50%) scale(1.1);
        transition: transform 0.3s ease;
      }
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .swiper-scrollbar {
    display: block;
    *{
      display: block;
    }
  }
}
